@keyframes half-turn {
    100% {transform: rotate(180deg)}
}

a {
    color: #8e1d2b;
}

li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
	letter-spacing: 0.1rem;
}

input[type="checkbox"], input[type="radio"] {
	display: inline-block;
}

label, legend {
    font-weight: 400;
}

.separator-control {
    border-top: double 0.3rem #B31F31;
    padding-top: 1rem;

}

.customize-section-title > h3 {
    font-weight: bold!important;
}

.customize-panel-back:focus, .customize-panel-back:hover, .customize-section-back:focus, .customize-section-back:hover {
    color: #B31F31;
    border-left-color: #B31F31;
}

#customize-theme-controls .control-section .accordion-section-title:focus:after, #customize-theme-controls .control-section .accordion-section-title:hover:after, #customize-theme-controls .control-section.open .accordion-section-title:after, #customize-theme-controls .control-section:hover>.accordion-section-title:after {
    color: #B31F31;
}

#customize-controls .control-section .accordion-section-title:focus, #customize-controls .control-section .accordion-section-title:hover, #customize-controls .control-section.open .accordion-section-title, #customize-controls .control-section:hover>.accordion-section-title {
    color: #B31F31;
    border-left-color: #B31F31;
}

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    color: #FFF;
    background-color: #B31F31;
    border-color: #811a27;
}

.wp-core-ui .button-primary {
    background: #c83c4d;
    -webkit-box-shadow: 0 1px 0 #c83c4d;
    box-shadow: 0 1px 0 #c83c4d;
    text-decoration: none;
    text-shadow: 0 -1px 1px #c83c4d, 1px 0 1px #c83c4d, 0 1px 1px #c83c4d, -1px 0 1px #c83c4d;
}

.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary:focus {
    -webkit-box-shadow: 0 1px 0 #B31F31, 0 0 2px 1px #B31F31;
    box-shadow: 0 1px 0 #B31F31, 0 0 2px 1px #B31F31;
}

.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
    background: #c83c4d;
    border-color: #6a9221;
    color: #fff;
}

.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #c04d5b;
    border-color: #811a27;
}

.wp-core-ui .button-primary.active, .wp-core-ui .button-primary.active:focus, .wp-core-ui .button-primary.active:hover, .wp-core-ui .button-primary:active {
    background-color: #c83c4d;
    border-color: #c83c4d;
    -webkit-box-shadow: inset 0 2px 0 #c83c4d;
    box-shadow: inset 0 2px 0 #8e1d2b;
}


.wp-core-ui .button-link {
    color: #B31F31;
}

.customize-pane-child {
	height: 100%;
}

.input-container-control {
	display: none;
    width: 100%;
    background: #B31F31;
    padding: 0.5rem;
    box-sizing: border-box;
	color: white;
}

.field-label {
	font-size: 1rem;
	font-weight: bold;
}

.item.item-text.item-network {
    margin-bottom: 1rem;  
}

.customize-control-arrow {
	float: right;
    font-size: 3rem;
    position: absolute;
    right: 0;
    top: -0.4rem;
	animation-timing-function: ease-out;
	transition: all 0.4s;
}

.rotate {
    animation: half-turn 0.4s;
    animation-fill-mode: forwards;	
}

.title-holder {
	transition: all 0.4s;
    display: block;
    background: #ffffff;
    border: solid 1px #bbbbbb;
    padding: 0.5rem;
	cursor: pointer;
	position: relative;
}

.title-holder:hover  span {
	color: #B31F31;
} 




/*SELECT RADIO WITH IMAGES CONTROL*/
/*************************************************************************************************/
.image-choice {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-top: 1rem;
    max-width: 100%;
	position: relative;
}

.image-selection-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-choice > input[type="radio"]:checked {
    border-color: #3300ff;
    box-shadow: 0px 0px 8px 0px #3300ff;
}

input[type=radio]:checked:before {
    display: none ;
}

.image-choice > input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: transparent;
    color: transparent;
}

.image-choice > input[type="radio"]:checked {
    border-color: #3300ff;
    box-shadow: 0px 0px 8px 0px #3300ff;
}

.customize-control select{
	height: auto;
}









/************************************LISTS CONTROL*/
.list-edition-button {
	position: relative;
	background: #ffffff;
	color: #23282d;
	font-weight: 600;
	text-align: center;
	border: solid 0.1rem #ddd;
	padding: 0.6rem;
	overflow: hidden;
}

.list-edition-button:hover {
    border-color: #999;
    color: #0073aa;
    overflow: visible;
}

.list-edition-panel {
    position:  fixed;
    width: 100%;
    height:  0;
    background-color: #ffffff;
    top: 4.54rem;
    left:  0;
    z-index:  20;
    padding: 0rem 1rem;
    box-sizing:  border-box;
    overflow: auto;
    transition: 0.4s;
    cursor: default;
    border-right: solid 0.3rem #fd2a5f;
}

@media (min-width: 601px){
	.list-edition-panel {
		width: 300px;
	}
}

.list-edition-panel > span {display:  block;}

.list-selection {
    text-align:  center;
    margin-top: 1rem;
}

.list-selection > span {
    display:  inline-block;
    padding: 0.3rem 1rem;
    color: #fd2a5f;
    border: solid 0.1rem #fd2a5f;
    transition: all 0.2s;
    cursor:  pointer;
	user-select: none;
}

.list-selection > span.active {
    background-color: #fd2a5f;
    color: #ffffff;
    cursor: default;
}

.lists-visualization {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: solid 0.1rem #fd2a5f;
}

.list-edition-panel-title {
    color: #fd2a5f;
    width: 90%;
    margin-bottom: 0;
}

.list-selection > span:hover {
    background-color: #fd2a5f;
    color: #ffffff;
}

.lists-visualization p {
    font-size: 1.6rem;
    margin-bottom:  1rem;
}

.the-list-name {
    box-shadow: inset 0px 0px 1px black;
    padding: 0.1rem 1rem;
    margin-right: 0.7rem;
}

.current-list li {
    position: relative;
    background: #ffffff;
    color: #fd2a5f!important;
    font-weight: 600;
    text-align: center;
    border: solid 0.1rem #fd2a5f!important;
    cursor: move !important;
    padding: 0.6rem;
    overflow: hidden;
    min-height: 2rem;
}

.current-list ul {
    margin-left: 0;
    cursor: move !important;
    counter-reset: list;
}

.current-list li:hover, .current-list li.dragged {
    color: #ffffff!important;
    overflow: visible;
    background-color: #fd2a5f;
}

.current-list li:not(.placeholder):before {
    content: counter(list, decimal);
    counter-increment: list;
    position: absolute;
    left: 0;
    font-size: 6rem;
    top: -3rem;
    color: #fd2a5f!important;
    font-family: sans-serif;
}

.current-list li:hover:before {
    color: #ffff00!important;
}

.add-list-item-button {
    color: #fd2a5f;
    font-size: 4rem;
    text-align: center;
}

.add-li-button-holder {
    text-align:  center;
}

.insert-item-content {
	display: none;
    position: fixed;
    z-index: 202032;
    padding: 1rem;
    background-color: white;
    border: solid 0.1rem #fd2a5f;
	top: 50px;
	left: 0;
}

.insert-item-content h6 {
    color: #fd2a5f;
}

.editing-list-item > .panel-overlay{
	display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #000000b0;
    z-index: 1;
}

.item-edition-buttons{
	font-size: 2rem;
	text-align: right;
	color: #fd2a5f;
}

.item-edition-buttons:not(.awaiting-edition) i {
    cursor:  pointer;
}

.item-edition-buttons.awaiting-edition {
    color: #555d66;
}

.item-edition-buttons i.discard-changes-button {
	color: #fd2a5f;
}

.edit-name {
    color: #fd2a5f;
	cursor: pointer;
}

.add-list-item, .add-list {
    text-align:  center;
}

.add-list-item i, .add-list i {
    font-size: 5rem;
    color: #fd2a5f;
    cursor:  pointer;
    transition:  all 0.4s;
}

.add-list-item i:hover, .add-list i:hover {
    color: #39a746;
}

.lists-visualization li .list-name, .view-list li .list-item-name  {
    display:  inline-block;
    width: 90%;
    box-sizing:  border-box;
    padding-left: 3rem;
}

.lists-visualization li .delete-list, .view-list li .delete-list-item {
    width: 10%;
    cursor:  pointer;
    transition: transform 0.4s;
    font-size: 1.79rem;
    position:  relative;
    top: 0.2rem;
}

.lists-visualization li .delete-list:hover, .lists-visualization li .delete-list-item:hover {
	animation: colorChange 1.5s infinite;
}

@keyframes colorChange {
  0% {
    color: #ffffff;
  }
  50% {
    color: #53b2e1;
  }
  100% {
    color: #ffffff;
  }  
}

.close-lists-panel-button {
    width:  10%;
    font-size: 3rem;
    text-align:  center;
    margin-right: 1rem;
    transition: all 0.4s;
    cursor:  pointer;
}

.close-lists-panel-button:hover {
    color: #fd2a5f;
}

.lists-panel-title-container {
    display:  flex;
    align-items:  center;
    margin: 1rem 0;
}