@keyframes half-turn {
    100% {transform: rotate(180deg)}
}

a {
    color: #8e1d2b;
}

li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
	letter-spacing: 0.1rem;
}

input[type="checkbox"], input[type="radio"] {
	display: inline-block;
}

label, legend {
    font-weight: 400;
}

.separator-control {
    border-top: double 0.3rem #B31F31;
    padding-top: 1rem;

}

.customize-section-title > h3 {
    font-weight: bold!important;
}

.customize-panel-back:focus, .customize-panel-back:hover, .customize-section-back:focus, .customize-section-back:hover {
    color: #B31F31;
    border-left-color: #B31F31;
}

#customize-theme-controls .control-section .accordion-section-title:focus:after, #customize-theme-controls .control-section .accordion-section-title:hover:after, #customize-theme-controls .control-section.open .accordion-section-title:after, #customize-theme-controls .control-section:hover>.accordion-section-title:after {
    color: #B31F31;
}

#customize-controls .control-section .accordion-section-title:focus, #customize-controls .control-section .accordion-section-title:hover, #customize-controls .control-section.open .accordion-section-title, #customize-controls .control-section:hover>.accordion-section-title {
    color: #B31F31;
    border-left-color: #B31F31;
}

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    color: #FFF;
    background-color: #B31F31;
    border-color: #811a27;
}

.wp-core-ui .button-primary {
    background: #c83c4d;
    -webkit-box-shadow: 0 1px 0 #c83c4d;
    box-shadow: 0 1px 0 #c83c4d;
    text-decoration: none;
    text-shadow: 0 -1px 1px #c83c4d, 1px 0 1px #c83c4d, 0 1px 1px #c83c4d, -1px 0 1px #c83c4d;
}

.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary:focus {
    -webkit-box-shadow: 0 1px 0 #B31F31, 0 0 2px 1px #B31F31;
    box-shadow: 0 1px 0 #B31F31, 0 0 2px 1px #B31F31;
}

.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
    background: #c83c4d;
    border-color: #6a9221;
    color: #fff;
}

.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #c04d5b;
    border-color: #811a27;
}

.wp-core-ui .button-primary.active, .wp-core-ui .button-primary.active:focus, .wp-core-ui .button-primary.active:hover, .wp-core-ui .button-primary:active {
    background-color: #c83c4d;
    border-color: #c83c4d;
    -webkit-box-shadow: inset 0 2px 0 #c83c4d;
    box-shadow: inset 0 2px 0 #8e1d2b;
}


.wp-core-ui .button-link {
    color: #B31F31;
}

.customize-pane-child {
	height: 100%;
}

.input-container-control {
	display: none;
    width: 100%;
    background: #B31F31;
    padding: 0.5rem;
    box-sizing: border-box;
	color: white;
}

.field-label {
	font-size: 1rem;
	font-weight: bold;
}

.item.item-text.item-network {
    margin-bottom: 1rem;  
}

.customize-control-arrow {
	float: right;
	font-size: 2.5rem;
	position: absolute;
	right: 1rem;
	top: -0.2rem;
	animation-timing-function: ease-out;
	transition: all 0.4s;
}

.rotate {
    animation: half-turn 0.4s;
    animation-fill-mode: forwards;	
}

.title-holder {
	transition: all 0.4s;
	display: block;
	background: #ffffff;
	border: solid 1px #bbbbbb;
	padding: 0.5rem;
	cursor: pointer;
	position: relative;
	height: 2.6rem;
}

.title-holder:hover  span {
	color: #B31F31;
} 

.controls-separator{
    margin: 3rem 0;
    text-align: center;
    border: solid 0.3rem #fd2a5f;
    border-left: 0;
    border-right: 0;
    font-weight: bold;
	font-size: 2.3rem;
}


/*SELECT RADIO WITH IMAGES CONTROL*/
/*************************************************************************************************/
.image-choice {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-top: 1rem;
    max-width: 100%;
	position: relative;
}

.image-selection-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-choice > input[type="radio"]:checked {
    border-color: #3300ff;
    box-shadow: 0px 0px 8px 0px #3300ff;
}

input[type=radio]:checked:before {
    display: none ;
}

.image-choice > input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: transparent;
    color: transparent;
}

.image-choice > input[type="radio"]:checked {
    border-color: #3300ff;
    box-shadow: 0px 0px 8px 0px #3300ff;
}

.customize-control select{
	height: auto;
}

input ~ label{
	display: inline;
}